html {
  width: 100%;
  font-size: 62.5%;
}
body {

  font-family: arial,"微软雅黑";
  background-color: #e9f4ec;

}

.share {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.header {
  width: 100%;
  height: 31.8rem;
  position: relative;
}
.header img {
	position: absolute;
	top: 8%;
	left: 15%;
	width: 26rem;
	text-align: center;
}

.animation img:nth-of-type(1),
.animation img:nth-of-type(2),
.animation img:nth-of-type(3),
.animation img:nth-of-type(4){
    -webkit-animation:1s 0.8s ease infinite alternate;
    -webkit-animation-name:moves;
    -moz-animation:1s 0.8s ease infinite alternate;
    -moz-animation-name:moves;
}

	@-webkit-keyframes moves{
	 0%{opacity:0}
	 50%{opacity:0.5}
	 100%{opacity:1}
	}
	@-moz-keyframes moves{
	 0%{opacity:0}
	 50%{opacity:0.5}
	 100%{opacity:1}
	}

.section {
	height: 28.3rem;

}
.message {
  margin: 0 auto;
  width: 32.2rem;
}
.old_range {
	font-size: 1.1rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
}
.robot {
	font-size: 1.2rem;
}
.extent {
	font-size: 1.3rem;
  color: #d55c15
}
.new_text {
  margin-top: 1rem;
  width: 100%;
  height: 13.5rem;
  overflow-y: scroll;
  font-size: 1.5rem;
}
.radio {
  margin: 0 auto;
  width: 32.2rem;
  height: 4.5rem;
  padding-top: 1.5rem;
}
.cover {
  float: left;
  width: 3.3rem;
  height: 3.3rem;
  font-size: 1rem;
}
.cover img {
  width: 3.2rem;
}
.stop {
  display: none;
}
.music-nav {
  float: left;
  height: 3rem;
  width: 28.8rem;
}
.music-nav input {
  margin-left: 0.8rem;
  width: 28rem;
  height: 0.35rem;
  background-color: #cad0cd;
  -webkit-appearance: none;
}


.music-nav input::-webkit-slider-thumb {
	position: relative;
  z-index: 3;
  width: 1rem;
  height: 1rem;
  border: 0;
  /*background-image: url(../img/thub2.png);*/
  background-color: #fff;
  background-size: 100%;
  border-radius: 0.6rem;
  -webkit-appearance: none;
  -moz-box-shadow:0px 0.1rem 0.3rem #333;
  -webkit-box-shadow:0px 0.1rem 0.3rem #333;
  box-shadow:0px 0.1rem 0.3rem #333;

}



.play_ui {
	width: 28rem;
  height: 0.35rem;
  position: relative;
  margin-top: 1.5rem;
}
.play_ui input {
	position: absolute;
	top: 0;
	left: 0;
}
.shadow {
	margin-left: 0.8rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
  height: 0.35rem;
  background: #D55B15;
}

.footer {
	position: absolute;
	bottom: 0;
	left 0;
	z-index: 4;
  clear: both;
  width: 100%;
  height: 4.75rem;
  line-height: 4.75rem;
  background-color: #322b3a;
}
.footer img{
  width: 3.25rem;
  margin-left: 1.5rem;
  vertical-align:middle;

}
.footer span {
  font-size: 1.15rem;
  color: #fff;
  margin-left: 1.1rem;
}
.footer a {

  display: inline-block;
  margin-left: 1.1rem;
  width: 6rem;
  height: 2.5rem;
  font-size: 1.2rem;
  color: #fff;
  line-height: 2.8rem;
  text-align: center;
  border: 0.1rem solid #d55c15;
  border-radius: 0.5rem;
  text-decoration: none;
}
